body{
  background: url("http://manuel-valles.com/project/twitchTV/img/bg2.png");
  font-family: 'Patrick Hand SC', cursive;
  line-height: 80%;
}
.container{
  margin: 50px auto;
  min-height: 1000px;
  min-width: 300px;
}
#header{
  padding: 20px;
}
h1{
  color: rgb(75,54,124);
}
a{
  text-decoration: none !important;
  font-size: 120%;
}
a:hover{
  font-weight: bold;
}
h3{
  margin: 40px auto 10px;
}
h3:hover{
  font-weight: bold;
}
.fa{
  font-size: 150%;
  color: rgb(75,54,124);
}
.btn{
  font-family: 'Patrick Hand SC', cursive;
}
img{
  height: 80px;
  border-radius: 10px;
}
.row{
  display: flex;
  align-items: center;
  min-height: 100px;
  max-width: 800px;
  margin: 15px auto;
  padding: 10px;
  background: whitesmoke;
  border-radius: 20px;
}
@media (min-width: 768px) { 

	.row{
		font-size: 150%;
		line-height: 75%;
	}
}
.row:nth-child(2n+1){
  background: rgba(0,0,0,0.05);
}
.red{
  color: red;
}
.green{
  color: green;
}